extends layout

block content
  a(href='https://github.com/anders94/blockchain-demo/')
  //  img.github-ribbon(src='/images/fork-me-on-github-ribbon.png', alt='college project')
  .container
    h1 Blockchain Visualizer
    
      img(src='./images/image_1.png' alt='login' )
      
    
    br
    p.pull-right by 
      a(href='http://andersbrownworth.com/') Atishek Singh | Jyostana Srivastvas | Akasht Rastogi 
